.table {
  margin: 40px auto 40px auto;
  width: 510px;
  border-collapse: collapse;
  border: 1px solid black;
}

.tableTh {
  color: white;
  font-size: 16px;
  background-color: rgb(95, 93, 93);
  height: 30px;
  width: 170px;
  border: 1px solid black;
}

.tableTrWhite {
  background-color: white;
}

.tableTrGray {
  background-color: rgba(128, 128, 128, 0.342);
}

.tableTd {
  text-align: center;
  height: 30px;
  width: 170px;
  border: 1px solid black;
}
